[Unit]
Description=API backbone for SQLSprinkler
After=network-online.target

[Service]
Type=simple
Environment=SQL_PASS="X4vJOQVCF8WnnoJq"
Environment=SQL_HOST="localhost"
Environment=SQL_USER="web"
ExecStart=/usr/bin/sqlsprinkler --daemon
Restart=on-failure
RestartSec=3s
User=pi
Group=gpio

[Install]
WantedBy=multi-user.target
