[Unit]
Description=API backbone for SQLSprinkler
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/sqlsprinkler --daemon
Restart=on-failure
RestartSec=3s
User=pi
Group=gpio

[Install]
WantedBy=multi-user.target
